{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/styles_new_producto.css') }}">
{% endblock %}
{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <div class ="form-container">
        <h1 class ="titulo">Nuevo Producto</h1>

        {{ include('producto/_form.html.twig') }}
        <div class = "btn-container">
            <a href="{{ path('app_producto_index') }}" class = "btn-view">back to list</a>
        </div>
    </div>
{% endblock %}
