@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Courgette&family=Hind:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #f2f2f2b2, #ffffff);
    font-family: 'Arsenal', sans-serif;
}
nav {
    background-image: linear-gradient(to right, #003366, #838282b2);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav a{
    color: #fff;
    text-decoration: none;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-left: 60px;
}
.container{
    padding: 0 10%;
    margin: 40px auto 0;
    display: grid;
    padding-top: 20px;
}
.titulo{
    font-size: 40px;
    text-align: center;
    color: #003366;
    margin-top: 20px;
    margin-bottom: 40px;
}
#producto{
    display:block;
    width: 100%;
}
#producto div{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
}

#producto div label{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #003366;
    padding: 8px;
    border: 1px solid #dee2e685;
    font-weight: 600;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    margin-right: 20px;
}
#producto div input{
    position: relative;
    width: 55%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #46474785;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 80px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #9ace39;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: medium;
    color:#FFFFFF;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}
.btn-view{
    width: 80px;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    background-color: #9ace39;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: medium;
    color:#FFFFFF;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    cursor: pointer;
}