*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #32312f;
    font-family: sans-serif;
}
.form-container{
    padding: 0 10%;
    margin: 40px auto 0;
    display: grid;
    padding-top: 20px;
}
.titulo{
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 40px;
}
#producto{
    display:block;
    width: 100%;
}
#producto div{
    display: flex;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
}

#producto div label{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    border: 1px solid #dee2e685;
    font-weight: 600;
    text-align: left;
    width: max-content;
}
#producto div input{
    text-align: right;
    padding-left: 50%;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 80px;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    background-color: #FF1046;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: medium;
    color:#FFFFFF;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
.btn-view{
    width: 80px;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    background-color: #FF1046;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: medium;
    color:#FFFFFF;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}