@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Courgette&family=Hind:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #f2f2f2b2, #ffffff);
    font-family: 'Arsenal', sans-serif;
}
nav {
    background-image: linear-gradient(to right, #003366, #838282b2);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav .btn-create{
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
nav .btn-create:hover{
    background-color: #333;
    color: #FFFFFF;
    
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
    display: grid;
    padding-top: 20px;
}
.titulo{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    color: #003366;
    margin-bottom: 40px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.table thead{
    background-color: #003366;
}
.primero{
    border-top-left-radius: 12px;
}
.ultimo{
    border-top-right-radius: 12px;
}
.table thead tr th{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td{
    font-size: 15px;
    letter-spacing: 0.35px;
    font-weight: 500;
    color: #0f0f0f;
    background-color: #bfcbe2;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}
.table tbody tr td .btn{
    width: 80px;
    text-decoration: none;
    line-height: 25px;
    display: inline-block;
    background-color: #9ace39;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: medium;
    color:#FFFFFF;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 10px;
}
@media screen and (max-width: 768px)
{
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}